
      @import url("https://themes.googleusercontent.com/fonts/css?kit=KRlc5aipaMGxMZIuODnyG-qs93E6NzRxu6vGqCVGfpE");
      .item-center{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .html_to_pdf{
        width: 100% !important;
      }
      .lst-kix_g6vsrmqe2zml-0 > li:before {
        content: "\0025cf  ";
      }
      ul.lst-kix_g6vsrmqe2zml-7 {
        list-style-type: none;
      }
      ul.lst-kix_g6vsrmqe2zml-8 {
        list-style-type: none;
      }
      .lst-kix_g6vsrmqe2zml-1 > li:before {
        content: "\0025cb  ";
      }
      ul.lst-kix_g6vsrmqe2zml-3 {
        list-style-type: none;
      }
      .lst-kix_g6vsrmqe2zml-4 > li:before {
        content: "\0025cb  ";
      }
      ul.lst-kix_g6vsrmqe2zml-4 {
        list-style-type: none;
      }
      ul.lst-kix_g6vsrmqe2zml-5 {
        list-style-type: none;
      }
      ul.lst-kix_g6vsrmqe2zml-6 {
        list-style-type: none;
      }
      .lst-kix_g6vsrmqe2zml-2 > li:before {
        content: "\0025a0  ";
      }
      ul.lst-kix_g6vsrmqe2zml-0 {
        list-style-type: none;
      }
      ul.lst-kix_g6vsrmqe2zml-1 {
        list-style-type: none;
      }
      .lst-kix_g6vsrmqe2zml-3 > li:before {
        content: "\0025cf  ";
      }
      ul.lst-kix_g6vsrmqe2zml-2 {
        list-style-type: none;
      }
      .lst-kix_tqn2gnez7hll-2 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_tqn2gnez7hll-3 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_tqn2gnez7hll-5 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_tqn2gnez7hll-4 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_tqn2gnez7hll-6 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_tqn2gnez7hll-1 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_g6vsrmqe2zml-8 > li:before {
        content: "\0025a0  ";
      }
      ul.lst-kix_6h0mqlpxiv71-8 {
        list-style-type: none;
      }
      .lst-kix_tqn2gnez7hll-0 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_g6vsrmqe2zml-5 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_g6vsrmqe2zml-6 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_g6vsrmqe2zml-7 > li:before {
        content: "\0025cb  ";
      }
      ul.lst-kix_6128o8nw70vn-0 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-4 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-3 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-2 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-1 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-8 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-1 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-7 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-0 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-8 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-6 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-3 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-7 {
        list-style-type: none;
      }
      ul.lst-kix_6128o8nw70vn-5 {
        list-style-type: none;
      }
      .lst-kix_6128o8nw70vn-6 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_6128o8nw70vn-8 > li:before {
        content: "\0025a0  ";
      }
      ul.lst-kix_6h0mqlpxiv71-2 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-6 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-5 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-5 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-4 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-4 {
        list-style-type: none;
      }
      ul.lst-kix_6h0mqlpxiv71-7 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-3 {
        list-style-type: none;
      }
      .lst-kix_6128o8nw70vn-7 > li:before {
        content: "\0025cb  ";
      }
      ul.lst-kix_6h0mqlpxiv71-6 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-2 {
        list-style-type: none;
      }
      ul.lst-kix_tqn2gnez7hll-1 {
        list-style-type: none;
      }
      .lst-kix_6h0mqlpxiv71-4 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6h0mqlpxiv71-5 > li:before {
        content: "\0025a0  ";
      }
      ul.lst-kix_tqn2gnez7hll-0 {
        list-style-type: none;
      }
      .lst-kix_6128o8nw70vn-2 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_6128o8nw70vn-4 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6h0mqlpxiv71-3 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_6128o8nw70vn-1 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6128o8nw70vn-5 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_6h0mqlpxiv71-0 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_6h0mqlpxiv71-1 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6h0mqlpxiv71-2 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_6128o8nw70vn-3 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_tqn2gnez7hll-8 > li:before {
        content: "\0025a0  ";
      }
      .lst-kix_tqn2gnez7hll-7 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6128o8nw70vn-0 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_6h0mqlpxiv71-6 > li:before {
        content: "\0025cf  ";
      }
      .lst-kix_6h0mqlpxiv71-7 > li:before {
        content: "\0025cb  ";
      }
      .lst-kix_6h0mqlpxiv71-8 > li:before {
        content: "\0025a0  ";
      }
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c0 {
        padding-top: 0pt;
        text-indent: 36pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c13 {
        margin-left: 144pt;
        padding-top: 0pt;
        text-indent: 36pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c5 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Work Sans";
        font-style: normal;
      }
      .c19 {
        -webkit-text-decoration-skip: none;
        color: #1155cc;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 18pt;
        font-family: "Work Sans";
      }
      .c14 {
        padding-top: 0pt;
        text-indent: 36pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c3 {
        margin-left: 180pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c4 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 18pt;
        font-family: "Work Sans";
        font-style: normal;
      }
      .c8 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c9 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c2 {
        padding-top: 0pt;
        text-indent: 36pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c7 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 2;
        orphans: 2;
        widows: 2;
        text-align: center;
        height: 11pt;
      }
      .c11 {
        padding-top: 15pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c6 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c15 {
        color: #000000;
        text-decoration: none;
        vertical-align: baseline;
        font-style: normal;
      }
      .c18 {
        font-weight: 500;
        font-size: 13pt;
        font-family: "Work Sans";
      }
      .c10 {
        font-size: 25pt;
        font-family: "Work Sans";
        font-weight: 500;
      }
      .c17 {
        background-color: #ffffff;
        max-width: 566.5pt;
        padding: 14.4pt 14.4pt 14.4pt 14.4pt;
      }
      .c21 {
        font-weight: 500;
        font-size: 20pt;
        font-family: "Work Sans";
      }
      .c16 {
        font-weight: 400;
        font-size: 12pt;
        font-family: "Arial";
      }
      .c20 {
        font-weight: 400;
        font-size: 20pt;
        font-family: "Work Sans";
      }
      .c22 {
        font-size: 18pt;
        font-family: "Work Sans";
        font-weight: 400;
      }
      .c1 {
        color: inherit;
        text-decoration: inherit;
      }
      .c12 {
        height: 11pt;
      }
      .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }